extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .song-detail
        .container.my-3
            .row
                .col-12
                    .inner-title #{song.title}

                    .inner-actions
                        .inner-action.inner-time
                            i.fa-regular.fa-clock
                            |  20/10/2023

                        .inner-action.inner-singer
                            i.fa-solid.fa-microphone-lines
                            |  #{singer.fullName}

                        .inner-action.inner-topic
                            i.fa-solid.fa-music
                            |  #{topic.title}

                        .inner-action.inner-like(data-id=song.id)
                            i.fa-regular.fa-thumbs-up
                            span  #{song.like? song.like : 0}

                        .inner-action.inner-heart(data-id=song.id)
                            i.fa-regular.fa-heart
                            span Bài hát yêu thích

                    .inner-play
                        .inner-thumbnail
                            img(
                                src=song.thumbnail
                                alt=song.slug
                            )

                        .inner-audio
                            div(id="aplayer" data-song=song data-singer=singer)
                            //- audio(controls)
                            //-     source(
                            //-     src=song.audio
                            //-     type="audio/mpeg"
                            //-     )

                    .inner-desc
                        .inner-label Mô tả
                        .inner-text #{song.description}

                    .inner-desc
                        .inner-label Lời bài hát
                        .inner-text #{song.lyrics}